<div class="flex justify-center items-center p-6">
  <h1 class="text-6xl text-red-500 bg-yellow-100 shadow-lg w-fit p-2 shadow-slate-400 rounded">Hello World!</h1>
  <i class="fa-regular fa-bell"></i>
  <%= icon('fa-brands', 'font-awesome')%>
</div>
